doctype html(lang='en')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Project | !{title}

	link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
	link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
	link(href='/star-rating/css/star-rating.min.css', type='text/css', rel='stylesheet')
	link(href='/stylesheets/style.css', type='text/css', rel='stylesheet')

	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
	script(src='/javascripts/jquery.form.min.js')
	//script(src='/time-ago/jquery.timeago.js')
	script(src='/moment/moment.js')
	script(src='/live-stamp/livestamp.min.js')
	script(src='/star-rating/js/star-rating.min.js')
	script(src='/javascripts/scripts.js')

body
	.navbar.navbar-static-top.navbar-inverse
		.container-fluid
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
					span.sr-only Menu
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') Project
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='/') Dashboard
				
				ul.nav.navbar-nav.pull-right
					if (typeof(session) !== 'undefined')
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Hello, 
								strong !{session.user.f_name}
								b.caret
							ul.dropdown-menu
								li
									a(href="/logout") Logout
					else
						li
							a(href="/login") LOGIN
						li
							a(href="/register") REGISTER

	.container.wrapper-outer
		.row
			.col-md-12.wrapper
				block content
	.footer